/* Arial (sans-serif)
Verdana (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive) */

/* Serif
Sans-serif
Monospace
Cursive
Fantasy 
Fall back fonts^^*/
:root {
    --text-color-base: white;
    --text-color-nav: white;
    --text-color-light: black;
    --text-color-dark: white;
    --color-dark-grey: rgb(45,45,45);
    --color-background-grey: rgb(65, 65, 65);
    --color-background-white: white;
    --color-background-special: rgb(155, 155, 155);
}
.light-mode {
    background-color: var(--color-background-white);
    color: var(--text-color-light);
}
.light-mode-special {
    background-color: var(--color-background-special);
    color: var(--text-color-light);
}
.dark-mode {
    color: var(--text-color-dark);
}
body {
    display: grid;
    padding: 10px;
    background-color: var(--color-background-grey);
    color: white;
}

a {
    color: var(--text-color-dark);
}
hr {
    position: relative;
    border: none;
    height: 0.035vh;
    background: black;
}
div.form-group {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
input {
    color: var(--text-color-dark);
    background: var(--color-dark-grey);
    border-color: var(--color-dark-grey);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    outline-style: none;
    padding: 0vh 1vh 0vh 1vh;
}
button.toggle-theme {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    color: var(--color-dark-grey);
    background: var(--color-dark-grey);
    border-color: var(--color-dark-grey);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    outline-style: none;
    padding: 0vh 1vh 0vh 1vh;
}
