/* Essentially variables/classes */
:root {
  --text-color-base: white;
  --text-color-nav: white;
  --text-color-light: black;
  --text-color-dark: white;
  --color-dark-grey: rgb(45, 45, 45);
  --color-background-grey: rgb(0, 34, 51);
  --color-background-white: white;
  --color-background-special: rgb(155, 155, 155);
}
.light-mode {
  background-color: var(--color-background-white);
}
.light-mode-text {
    color: var(--text-color-light);
  }
.light-mode-special {
  background-color:var( --color-dark-grey);
  color: var(--text-color-dark);
}
.dark-mode {
  color: var(--text-color-dark);
}
/* ---------------------- */
/* Body elements/Text elements */
body {
  display: grid;
  padding: 10px;
  background-color: var(--color-background-grey);
  color: white;
  overflow-x: hidden;
}
a {
  color: var(--text-color-dark);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  text-wrap:balance;
  margin: 0px 10% 0px 10%;
}
hr {
  position: relative;
  border: none;
  height: 0.035vh;
  background: black;
}
/* ---------------------- */
/* Nav bar */
.nav {
  position: fixed;
  z-index: 1000;
}
/* ---------------------- */
/* Everything to do with the form group */
div.form-group{
  z-index: 1000;
}
form {
  max-width: fit-content;
  margin-inline: auto;
}
input{
  max-width: fit-content;
  border-radius: 10px 10px 10px 10px;
  max-width: fit-content;
  margin-inline: auto;
  border: 2.5px solid#555 ;
}
input[type=submit]{
  margin: 0px auto;
  display: block;
  padding: 0px 20px 0px 20px;
}
label {
  background-color: white;
  padding: 0px 5px 0px 5px;
  border-radius: 10px 10px 10px 10px;
  border: 2.5px solid#555 ;
  color: black;
}
form a {
  color: var(--text-color-light);
  background-color: white;
  padding: 0px 5px 0px 5px;
  border: 2.5px solid#555 ;
  border-radius: 10px 10px 10px 10px;
}
/* ---------------------- */
/* The content of all of the html docs */
div.top-content {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 20vh;
}
div.index-content p {
  font-size: 1.5em;
}
h1#title-page {
  display: flex;
  text-align: center;
  text-wrap: balance;
  font-size: 5vw;
}
h1#about-us {
  font-size: 2.5em;
}
/* ---------------------- */
/*--Sections of Content Stylization*/
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#how-to {
  top: 35vh;
  font-size: 1em;
  text-align: center;
  max-width: fit-content;
  margin-inline: auto;
}
/* ---------------------- */
/* SVG stylization */
div.svg-container {
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
svg.blob-motion {
  position: absolute;
  background-size: cover;
  width: 200%;
  transform: translate(-35%, -50%);
  border: none;
  z-index: -2;
}
div.index-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
svg.icon-svg {
    position: absolute;
    transform: scale(25%);
    z-index: -1;
}
/* ---------------------- */
/* Everything with the images */
div.img-group {
  flex-wrap: wrap;
}
#img1, #img2, #img3, #img4{
  border-radius: 10px 10px 10px 10px;
  border: 3px solid var(--color-background-grey);
}
/* ---------------------- */
/* User interface items like the scroll bar and theme button */
button.toggle-theme {
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  border-color: var(--color-dark-grey);
  border-radius: 5px;
  border-style: none;
  box-shadow: none;
  outline-style: none;
  padding: 0vh 0vh 1px 0vh;
  z-index: 1000;
}
::-webkit-scrollbar {
  width: 10px;
  position: fixed;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px 5px 5px 5px;
  z-index: -3;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ---------------------- */
/* svg responsivity when the screen gets minimized */
@media screen and (max-width: 2000px) {
    svg.blob-motion {
      transform: scaleY(150%);
    }
}
/* ---------------------- */