{% extends "yt2mp3/layout.html" %} {% block body %}
<section class="index-info-content" id="welcome">
  <h1>Welcome!</h1>
  <p>Your File Converting Convenience All in one Location</p>
</section>
<section class="index-info-content" id="about">
  <h1>About Us</h1>
  <p>
    As students who are passionate about technology, we have collaborated tirelessly to design a webpage that aims to streamline your daily file converting tasks. 
    Over the course of the academic year, we have poured our hearts into this project, striving to make it as user-friendly as possible. 
    Our ultimate objective is to make your online interactions more seamless and enjoyable. 
    We cannot wait to unveil our creation to you and sincerely hope that it will make a positive impact on your life.
  </p>
</section>
{% endblock %}
