{% extends "yt2mp3/layout.html" %} {% block body %}
<section class="index-word-content">
  <h1>Welcome!</h1>
  <p>Your File Converting Convenience All in one Location</p>
</section>

<section class="index-info-content">
  <h1>About Us</h1>
  <p>
    We are a group of students who are passionate about technology. We hope to
    make your life easier.
  </p>
</section>
<section class="index-body-content">
  <p>Welcome to the File Converter!</p>
</section>
<section class="index-footer-content">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iusto earum
    esse totam tempore ipsa perferendis id voluptatibus ab? Et rerum facere
    praesentium illum? Maiores incidunt ducimus reprehenderit architecto
    similique!
  </p>
</section>
<footer>
</footer>
{% endblock %}
