{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT2MP3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'yt2mp3/styles.css' %}"> -->
    <link rel="stylesheet" href="/static/yt2mp3/styles.css?{% now "U" %}"/>
    
</head>
<body>
    <div class="hamburger">
        <button class="btn-hamburger" onclick="BurgerNav()">x</button>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'youtube' %}">Download from YouTube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'spotify' %}">Download from Spotify</a>
        </li> 
    </ul>
    <hr>

    
    {% block body %}
    {% endblock %}


    <button class="toggle-theme" onclick="ThemeToggle()"> x </button>

    <hr>
    <footer>
        <h2>Footer Placeholder</h2>
    </footer>
    <script src="/static/yt2mp3/user.js?{% now "U" %}"/></script>
</body>
</html>